---
import Base from "../layouts/Base.astro";
import Header from "../components/Header.astro";
import Hero from "../components/Hero.astro";
import Producto from "../components/Producto.astro";
import AlgoritmoBenevolente from "../components/AlgoritmoBenevolente.astro";
import Metrics from "../components/Metrics.astro";
import MisionVision from "../components/MisionVision.astro";
import B2BSection from "../components/B2BSection.astro";
import Equipo from "../components/Equipo.astro";
import Descarga from "../components/Descarga.astro";
import Footer from "../components/Footer.astro";
---

<Base>
  <Header />
  <main>
    <Hero />
    <Producto />
    <AlgoritmoBenevolente />
    <Metrics />
    <MisionVision />
    <B2BSection />
    <Equipo />
    <Descarga />
  </main>
  <Footer />
</Base>
